*{
    box-sizing: border-box;
}

body {
    background-color: rgba(72, 163, 0, 0.07);
    font-family: 'Poppins', sans-serif;
}
main {
    padding: 0 16px 32px;
  }
  
.heading {
    font-size: 64px;
    color: rgba(72, 163, 0, 1);
    text-align: center;
}
.heading span {
    color: rgb(79, 77, 79);
}

.app-container {
    background-color: aliceblue;
    max-width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    
}
.sun-icon {
    vertical-align: middle;
    margin-left: 16px;

}
.progress-label {
    font-size: 14px;
    color: rgb(147, 141, 147);
    margin-bottom: 16px;
}
.progress-bar{
    height: 30px;
    background-color: rgb(196, 237, 162);
    border-radius: 20px;
}
.progress-value {
    height: 100%;
    background-color: rgba(72, 163, 0, 1);
    width: 0;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 500;
    color: azure;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}
.progress-value span {
    padding-left: 20px;
}
.error-label {
    font-size: 12px;
    color: red;
    margin-top: 4px;
    display: none;
    }


.show-error .error-label {
    display: block;
    }


.goal-container {
    border: 1px solid rgb(251, 254, 251);
    border-radius: 17px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: white;
    margin-bottom: 32px;
    margin-top: 32px;
}
.custum-checkbox {
    height: 24px;
    width: 24px;
    border: 2px solid rgba(72, 163, 0, 1);
    
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 5px;
}
.check-icon {
    height: 100%;
    width: 100%;
    display: none;
}
.goal-input {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    padding-left: 16px;
    height: 100%;
    width: 100%;
}

.goal-input::placeholder {
    color: #d9d9d9;
  }

.quote {
    font-weight: 500;
    text-align: center;
}
.made-with {
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    color: #c4c4c4;
    margin-top: 24px;
}
.completed .custum-checkbox {
    background-color: rgba(72, 163, 0, 1);
    border-color: rgba(72, 163, 0, 1);

}
.completed .check-icon {
    display: block;
}
.completed .goal-input{
    text-decoration: line-through;
    color: #028128;
}

@media (max-width: 768px) {
    .heading {
      font-size: 32px;
    }
  
    .app-container {
      padding: 16px 32px;
    }
    .goal-container{
        height: 64px;
        margin-bottom: 16px;
        border-radius: 14px;

    }
    .custum-checkbox {
        height: 16px;
        width: 16px;
    }
    .progress-bar{
        height: 16px;
    }

    .progress-value span {
        font-size: 6px;
    }

}